<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.ecured.cu/images/9/97/Bannermundosaurio.png);">
  <div class="container">
    <h1>Welcome to Paleo-map!</h1>
    <h2>Select a category of dinosaurs and find out where their fossils where discovered!</h2>
  </div>
</div>
