<div class="card-product dino-card">
  <%# <% if dino.photo.attach? %> %>
  <%# <%= cl_image_tag dino.photo.key, class: "main-image"%> %>
  <%# <% else %> %>
  <%# <%= image_tag 'upload-photo.jpg', class: 'main-image' %> %>
  <%# <% end %> %>
  <div class="card-product-infos">
    <h2><%= dino.name %></h2>
  </div>
</div>
