<div class="footer">
  <h3>Dinosaurs name and location comes from
    <%= link_to "The Paleobiology Database.", "https://paleobiodb.org/#/" %>
    <br>
    Special thanks to them for their hard work.
  </h3>
</div>
