.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.4);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer a {
  color: black;
  opacity: 0.60;
  text-decoration: none;
  font-size: 32px;
  padding: 0px 10px;
}
.footer a:hover {
  color: rgba(20, 72, 139, 0.938);
  opacity: 1;
}
