// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "cards";

.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.category-selector:checked + label {
  color: white !important;
}

.dino-tag {
  margin:  1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-btn {
  margin: 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  &:hover {
    background-color: $success;
    border: 1px solid $success;
  }
}

.all-tag-btn {
  border-radius: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  &:hover {
    background-color: $success;
    border: 1px solid $success;
  }
}

.active-btn {
  background-color: $success;
  border: 1px solid $success;
}


.text-h1{
  font-size: 60px;
}
.text-h2{
  font-size: 40px;
}
